@charset "UTF-8";
 body {
color: black;
font-family: san-serif;
font-size: 16px;
line-height: 1.25em;
background-image: url(waffletrans.jpg);
background-repeat: no-repeat;
background-color: #edf6ff;
background-position: 50% 20%;
background-size: 110% 39%;
}
header {
 margin: auto;
 margin-bottom: 0px;
 max-height: 80px;
 max-width: 1000px;
 text-align: center;
 top: 0;
 width: 100%;
 font-size: 60px;
}
div {
background-color: rgba(255,255,255,.5);
border-top: 5px solid rgba(255,255,255,.5);
border-bottom: 5px solid rgba(255,255,255,.5);
float: left;
width: 100%;
margin-top: 10px;
text-align: center;
}
.left {
margin-left: 380px;
width: 600px;
padding-bottom: 9px;
text-align: center;
}
.images {
background-color: rgba(255,255,255,.5);
border-top: 5px solid rgba(255,255,255,.5);
border-bottom: 5px solid rgba(255,255,255,.5);
float: left;
width: 100%;
margin-top: 140px;
text-align: center;
}
.right {
margin-left: 290px;
width: 800px;
text-align: center;
margin-top: 3em;
}
section p {
font-size: 20px;
font-family: san-serif;
font-weight: normal;
}
section li {
font-size: 20px;
font-family: san-serif;
font-weight: normal;
}
article {
max-width: 1040px;
margin: 80px 0;
width: 100%;
}
article p {
font-size: 20px;
color: black;
text-align: center;
float: right;
margin: 10px 160px;
width: 430px;
height: 300px;
margin-top: 20px;
}
section img {
float: right;
margin: 0 33.5%;
margin-top: -3%;
}
div img {
margin: 2.3%;
}
@media screen and (min-width: 400px) {
 
 body {
  color: black;
  font-family: san-serif;
  font-size: 16px;
  line-height: 1.25em;
  background-image: url(waffletrans1.jpg);
  background-repeat: no-repeat;
  background-color: #edf6ff;
  background-attachment: scroll;
  background-size: 110% 39%;
 }
